<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>
	<div class="container">
	<h1>Todo List</h1>
	
	<ul>
		<li th:each="task : ${tasks}">
		<span th:text="${task.task}"></span>
		<a th:href="@{'/'(action='edit',id=${task.id})}" class="btn btn-primary">Edit</a>
		<a th:href="@{'/'(action='delete',id=${task.id})}" class="btn btn-danger">Delete</a>
		</li>
	</ul>
	

	<div class="card card-body bg-light">
		<h4 th:text="${todo==null} ? 'Create Todo':'Edit Todo'">Create Todo</h4>
		<form method="POST" action="/">
			<input th:if="${todo !=null}" type="hidden" name="id" th:value="${todo.id}" />
			<div class="form-group">
			    <label for="task">Your Task</label>
			    <input type="text" class="form-control" id="task" placeholder="Enter task" name="task" th:value="${todo?.task}" />
			  </div>
			  <button type="submit" class="btn btn-primary" th:text="${todo==null} ? 'Add Todo':'Edit Todo'">Add Todo</button>
			  <a href="/" class="btn btn-secondary" th:if="${todo!=null}">Cancel</a>
		</form>
	</div>
	</div>

</body>
</html>