<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>
	<div class="container">
		<h1>Todo List</h1>
		
		<ul>
			<li th:each="task : ${tasks}">
			<span th:text="${task.task}"></span>
			<a th:href="@{'/'(action='edit',id=${task.id})}" class="btn btn-primary">Edit</a>
			<a th:href="@{'/'(action='delete',id=${task.id})}" class="btn btn-danger">Delete</a>
			</li>
		</ul>
		
	
		<div class="card card-body bg-light">
		
			<form method="POST" action="/" th:object="${todo}">
				<h4 th:text="*{isEditing()}? 'Edit Todo':'Create Todo'">Create Todo</h4>
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
				    <label for="task">Your Task</label>
				    <input type="text" class="form-control" placeholder="Enter task" th:field="*{task}" />
				    <ul>
					  <li th:each="err : ${#fields.errors('task')}" th:text="${err}" />
					</ul>
				  </div>
				  <button type="submit" class="btn btn-primary" th:text="*{isEditing()}? 'Edit Todo':'Add Todo'">Add Todo</button>
				  <a href="/" class="btn btn-secondary" th:if="*{isEditing()}">Cancel</a>
				  
			</form>
		</div>
	</div>

</body>
</html>